################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Singleton/obj
/SimpleFactoryTests/obj
/SimpleFactoryTests/bin/Debug/net5.0
/SimpleFactory/obj
/SimpleFactory/bin/Debug/net5.0
/Factory/obj
/Factory/bin/Debug/net5.0
/.vs
/SingletonTests/obj
/SingletonTests/bin/Debug/net5.0
/Singleton/bin/Debug/net5.0
/.idea/.idea.Patterns/.idea
/CreationalPatterns/obj
/CreationalPatternsTest/obj
/CreationalPatternsTest/bin/Debug/net5.0
/Patterns.sln.DotSettings.user
/CreationalPatterns/bin/Debug/net5.0
/BehavioralPatternsTests/obj
/BehavioralPatternsTests/bin/Debug/net5.0
/BehavioralPatterns/obj
/BehavioralPatterns/bin/Debug/net5.0
